body
{
	background-image: url(space.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
div
{
	text-align: center;
	vertical-align: center;
}

a
{
	background-color: teal;
	color: orange;
	text-align: center;
}

a:hover
{
	background-color: yellow;
	color: purple;
	font-size: 33pt;
}

