body
{
	background-image: url(Background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p
{
	color: rgb(31, 133, 155);
	background-color: rgb(255, 105, 255)
}

p.enhanced
{

	color: rgb(153, 204, 255);
	font-family: lucida console;
    font-size: 55pt;
}

a
{
	color: rgb(31, 133, 155);
	background-color: rgb(255, 105, 255);
}

a:hover
{
	font-color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	font-family: times new roman;
}